<%- include('../includes/head.ejs') %>
    <title><%=title%></title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/auth.css" />
        <link rel="stylesheet" href="/css/forms.css" />
    </head>
    <body>
        <%- include('../includes/navigation.ejs')%>
            <main>
                <% if(errorMessage) {%>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <form class="login-form" method="POST"
                    action="/login">
                    <div class="form-control">
                        <label for="email">Email</label>
                        <input
                            value="<%=oldInput.email%>"
                            type="email" name="email" id="email" >
                    </div>
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input 
                            value="<%=oldInput.password%>"
                            type="password" name="password" id="password">
                    </div>

                    <div class="card__actions">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <button type="submit">Login</button>
                        <a class="btn" href="/reset-password">Reset</a>
                    </div>
                    
                </form>
            </main>
        <%- include('../includes/end.ejs')%>