<%- include('../includes/head.ejs') %>
    <title><%=title%></title>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/auth.css" />
        <link rel="stylesheet" href="/css/forms.css" />
    </head>
    <body>
        <%- include('../includes/navigation.ejs')%>
            <main>
                <% if(errorMessage) {%>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <form class="login-form" method="POST"
                    action="/new-password">
                    <div class="form-control">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="form-control">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword">
                    </div>

                    <div class="card__actions">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                        <input type="hidden" name="userId" value="<%= userId %>"/>
                        <input type="hidden" name="resetToken" value="<%= resetToken %>">
                        <button type="submit">Update Password</button>
                    </div>
                    
                </form>
            </main>
        <%- include('../includes/end.ejs')%>